<!-- Title group  -->
<div class="title-group">
    <h1 class="mat-h1">Join Game</h1>
    <mat-divider fxFlex="1 0"></mat-divider>
  </div>
  
  <!-- Form -->
  <div class="inner-wrapper">
    <form [formGroup]="playerForm" (ngSubmit)="joinGame()" #resetPlayerForm="ngForm">
            <mat-card>
                    <div class="controlers-wrapper">
                      <!-- Name -->
                      <mat-form-field class="example-full-width">
                        <mat-label>Player Name:</mat-label>
                        <input matInput formControlName="player_name" readonly>
                      </mat-form-field>
              
                      <!-- Ranking -->
                      <mat-form-field>
                        <mat-label>Ranking:</mat-label>
                        <input matInput formControlName="rank" readonly>
                      </mat-form-field>
        
                      <!-- Score -->
                      <mat-label>Score:</mat-label>
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="score" readonly>
                      </mat-form-field>
        
                      <!-- Time -->
                      <mat-label>Time:</mat-label>
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="time" readonly>
                        </mat-form-field>
        
                        <!-- Favourite Game -->
                      <mat-label>Favourite Game:</mat-label>
                      <mat-form-field class="example-full-width">
                        <input matInput formControlName="favourite_game" readonly>
                        </mat-form-field>
        
        
                    <!-- Status -->
                    <mat-label>Status:</mat-label>
                    <mat-form-field class="example-full-width">
                        <input matInput formControlName="status" readonly>
                      </mat-form-field>
                    </div>
                  </mat-card>
  
      <!-- Submit & Reset -->
      <mat-card>
        <div class="full-wrapper button-wrapper">
          <div class="button-wrapper">
            <button mat-flat-button color="warn">Join Game</button>
          </div>
        </div>
      </mat-card>
    </form>
  </div>