<!-- Title group  -->
<div class="title-group">
        <h1 class="mat-h1">Add Player</h1>
        <mat-divider fxFlex="1 0"></mat-divider>
      </div>
      
      <!-- Form -->
      <div class="inner-wrapper">
        <form [formGroup]="playerForm" (ngSubmit)="submitPlayerForm()" #resetPlayerForm="ngForm">

          <mat-card>
            <div class="controlers-wrapper">
              <!-- Name -->
              <mat-form-field class="example-full-width">
                <mat-label>Player Name:</mat-label>
                <input matInput placeholder="Player name" formControlName="player_name" required>
                <mat-error *ngIf="handleError('player_name', 'required')">
                  You must provide a <strong>player name</strong>
                </mat-error>
              </mat-form-field>
      
              <!-- Ranking -->
              <mat-form-field>
                <mat-label>Ranking:</mat-label>
                <mat-select formControlName="rank" required>
                  <mat-option [value]="rankArray" *ngFor="let rankArray of rankArray">{{rankArray}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('rank', 'required')">
                  Rank is required
                </mat-error>
              </mat-form-field>

              <!-- Score -->
              <mat-label>Score:</mat-label>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Score" formControlName="score">
              </mat-form-field>

              <!-- Time -->
              <mat-label>Time:</mat-label>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Time" formControlName="time">
                </mat-form-field>

                <!-- Favourite Game -->
              <mat-label>Favourite Game:</mat-label>
              <mat-form-field class="example-full-width">
                <mat-select formControlName="favourite_game" required>
                  <mat-option [value]="game" *ngFor="let game of gameArray">{{game}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="handleError('player_name', 'required')">
                    You must provide a <strong>favourite game</strong>
                  </mat-error>
                </mat-form-field>


            <!-- Status -->
            <mat-label>Status:</mat-label>
            <mat-form-field class="example-full-width">
                <mat-select formControlName="status" required>
                        <mat-option [value]="statusArray" *ngFor="let statusArray of statusArray">{{statusArray}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="handleError('status', 'required')">
                        Status is required
                      </mat-error>
          </mat-form-field>
            </div>
          </mat-card>
      
          <!-- Submit & Reset -->
          <mat-card>
            <div class="full-wrapper button-wrapper">
              <div class="button-wrapper">
                <button mat-flat-button color="warn">Add Player</button>
              </div>
            </div>
          </mat-card>
        </form>
      </div>